{% load static %}
<html>
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="chrome=1,IE=edge" http-equiv="X-UA-Compatible"/>
  <title>
   Forest
  </title>

  <meta content="user-scalable=yes, width=1240" name="viewport"/>
  <link href="{% static 'werewolf/forest/forest.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <div id="main_container">
   <div class="" id="bg-img">
   </div>
   <div class="player_container" id="player_container_left">
     <div class="avatar_box" id="player1_symbol">
     </div>
     <div class="player_name" id="player_name_1">
      NAME
     </div>
   </div>
   <div class="player_container" id="player_container_right">
   </div>
   <div class="text_box" id="game_header">
   </div>
   <div id="title_text">
    DIE WERWÖLFE VON <br> DÜSTERWALD
   </div>
   <div id="border-line">
   </div>
   <div class="text_box" id="settings_box">
     <table id="settings_table">
       {% for setting in settings %}
       <tr>
         <td style="text-align: right;">{{setting.name}}:</td>
         <td><input
           type="{{setting.type}}"
           name="{{setting.name}}"
           value="{{setting.value|default_if_none:''}}"
           class="setting_value"
           id="{{setting.name}}_setting"
           {% if room.owner != player %}disabled="true"{% endif %}
           ></td>
       </tr>
       {% endfor %}
     </table>
   </div>
   <div class="text_box" id="game_footer">
   </div>
   {% if room.owner == player %}
   <div class="" id="start_button">
    Spiel starten
   </div>
   {% endif %}
  </div>
  <form action="{% url 'werewolf:village' room.room_nr %}" method="post" hidden="true">
      <input type="submit" name="" value="" id="submit">
      {% csrf_token %}
  </form>
 </body>
 <script type="text/javascript" src="{% static 'werewolf/forest/players.js' %}"></script>
 <script type="text/javascript" src="{% static 'werewolf/forest/forest_websocket.js' %}"></script>
 <script type="text/javascript" src="{% static 'werewolf/forest/forest.js' %}"></script>
</html>
